SUPABASE_DB_PASSWORD=password

NEXT_PUBLIC_SUPABASE_URL= xxxxxxx
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY= xxxxxx
SUPABASE_SECRET_KEY= xxxxxxx
BEFORE_USER_CREATED_HOOK_SECRET="v1,whsec_<base64>"
RESEND_API_KEY=xxxxxx
